absl-py
aiohttp
altair
argon2-cffi
attrs
bokeh
botocore
click
cryptography
cycler
dask
decorator
distributed
flask
flask-lambda
fsspec
gunicorn
h5py
httpx
ipykernel
ipython
ipywidgets
jedi
jinja2
jmespath
joblib
jsonschema
jupyter
jupyterlab
keras
kiwisolver
matplotlib
ml-dtypes
nbconvert
nbformat
networkx
nltk
notebook
numpy
pandas
panel
plotly
pyarrow
pygments
pylint
pymysql
pytest
python-dateutil
pytz
pyyaml
requests
scikit-learn
scipy
seaborn
spacy
sqlalchemy
streamlit
tensorboard
tensorflow
tornado
tqdm
traitlets
urllib3
watchdog
wheel
xarray
xlwings
zipp
zstandard
